@font-face {
    font-family: 'Telegraf';
    src: url('PPTelegraf-Regular.eot');
    src: local('PP Telegraf Regular'), local('PPTelegraf-Regular'),
        url('PPTelegraf-Regular.eot?#iefix') format('embedded-opentype'),
        url('PPTelegraf-Regular.woff2') format('woff2'),
        url('PPTelegraf-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Telegraf';
    src: url('Telegraf-Bold.eot');
    src: local('Telegraf Bold'), local('Telegraf-Bold'),
        url('Telegraf-Bold.eot?#iefix') format('embedded-opentype'),
        url('Telegraf-Bold.woff2') format('woff2'),
        url('Telegraf-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

